{
  "editor.tabSize": 2,
  "printWidth": 100,
  "singleAttributePerLine": false,
  "trailingComma": "none",
  "arrowParens": "always",
  "singleQuote": false,
  "semi": true,
  "importOrder": ["^@core/(.*)$", "^@server/(.*)$", "^@ui/(.*)$", "^[./]"],
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "endOfLine": "lf",
  "formatOnPaste": true
}
