.sorting {
    display: flex;
    justify-content: space-between;
    gap: 10px;
}

img {
    margin: 20px;
}

@media (min-width: 600px) {
    .sorting {
        padding: 0 10%;
    }
}

@media (min-width: 1200px) {
    .sorting {
        padding: 0 20%;
    }
}

@media (min-width: 1535px) {
    .sorting {
        padding: 0 25%;
    }
}