* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html,
body {
    text-align: center;
    max-width: 100vw;
    overflow-x: hidden;
}

a {
    color: inherit;
    text-decoration: none;
}

/* pages */

.image {
    margin: 20px 0;
}

.sorts,
.items {
    width: 100%;
    max-width: 1020px;
    display: flex;
    justify-content: left;
    margin: 0 auto 40px;
    gap: 20px;
}

.sorts {
    margin-bottom: 60px;
}

.items {
    flex-wrap: wrap;
}

/* locations */

.sortsLocations {
    max-width: 850px;
}

/* episodes */

.sortsEpisodes {
    max-width: 500px;
}